.buttontest2016 {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.buttontest2016 a {
  display: block;
  height: 50px;
  width: 200px;
  background: #a04649;
  
  /*TYPE*/
  color: white;
  font: 17px/50px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;


  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
        border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  background: -moz-linear-gradient(top, #a04649 0%, #592729 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a04649), color-stop(100%,#592729)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a04649 0%,#592729 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a04649 0%,#592729 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a04649 0%,#592729 100%); /* IE10+ */
  background: linear-gradient(top, #a04649 0%,#592729 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a04649', endColorstr='#592729',GradientType=0 ); /* IE6-9 */
}

.buttontest2016 p {
  background: #222;
  display: block;
  height: 40px;
  width: 180px; 
  margin: -50px 0 0 10px;
  
  /*TYPE*/
  text-align: center;
  font: 12px/45px Helvetica, Verdana, sans-serif;
  color: #fff;
  
  /*POSITION*/
  position: absolute;
  z-index: -1;
  
  /*CSS3*/
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 8px rgba(0,0,0,0.2);

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.buttontest2016 a, p {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 8px rgba(0,0,0,0.2);      
}

.buttontest2016:hover .top {
  margin: -80px 0 0 10px;
  line-height: 35px;
}

.buttontest2016:hover .bottom {
  margin: -10px 0 0 10px;
}


/*Adjust Gradient*/
.buttontest2016 a:active {
  background: #4d0000;
}

/*Pulls in Wings*/
.buttontest2016:active .bottom {
    margin: -20px 0 0 10px;
}

.buttontest2016:active .top {
    margin: -70px 0 0 10px;
}