:focus {
    outline:none;
}

.slider-bg {
    z-index:25;
    background:#000;
    height:100px;
    width:1000px;
    left:165px;
    position:absolute;

    opacity:.5;
    -webkit-transition-property:opacity;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration:0.5s;
}

.slider-info {
    z-index:25;
    height:100px;
    width:1000px;
    left:162px;
    opacity: 0.4;
    position:absolute;
    -webkit-transition-property:opacity, left, top, background-color;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration:0.5s;
}

.slider-info:hover {
    opacity: 1;
    background-color:rgba(0, 0, 0, 0.5);
}