* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  background:url("https://lh3.googleusercontent.com/-CZOqNcEBPok/UvkTT6XPiJI/AAAAAAAABN4/ZewjgdCVLuY/s100-no/background.gif");
}

a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
  margin-left: 1rem;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  .btn + .btn {
    margin-top: 1rem;
    margin-left: 0;
  }
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
}

@media screen and (min-width: 64em) and (max-height: 30em) {
  .page-header {
    padding: 5rem 6rem;
  } 
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem;
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; 
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  } 
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem;
  } 
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem;
  } 
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; 
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; 
  } 
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem;
  } 
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }
}

.main-content :first-child {
  margin-top: 200; 
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957;
}

.main-content p {
  margin-bottom: 1em;
  text-align:justify;
}

.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
   background-color: #b3ffed;
  border-radius: 0.3rem;
}

.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
}

.main-content pre > code {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.main-content .highlight {
  margin-bottom: 1rem;
}

.main-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
}

.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal;
}

.main-content ul, .main-content ol {
  margin-top: 0;
}

.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #505d62;
  border-left: 0.3rem solid #dce6f0;
}

.main-content blockquote > :first-child {
  margin-top: 0;
}

.main-content blockquote > :last-child {
  margin-bottom: 0;
}

.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.main-content table th {
  font-weight: bold;
}

.main-content table th, .main-content table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}

.main-content dl {
  padding: 0;
}

.main-content dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.main-content dl dd {
  padding: 0;
  margin-bottom: 1rem;
}

.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  border: 0;
}

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    margin-top: 200px;
    font-size: 1.1rem;
    background-color: #d9fff7;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #e4e6e7;
  text-align:center;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: #819198;
}

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem;
  }
}

.bryce-hahn-imagebed {
  position: relative;
  float: left;
  width: 320px;
}

.bryce-hahn-about-text {
  position: relative;
  float: right;
  width: 200px;
}

.bryce-hahn-imagebed img {
  z-index: -1;
  height: 250px;
  border: 10px solid #affdef;
  border-bottom: 55px solid #affdef;
  box-shadow: 10px 10px 6px #aaa;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.bryce-hahn-imagebed p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

.mason-cluff-imagebed {
  position: relative;
  float: right;
  width: 300px;
}

.mason-cluff-about-text {
  position: relative;
  float: left;
  width: 200px;
}

.mason-cluff-imagebed img {
  height: 320px;
  float: right;
  border: 10px solid #affdef;
  border-bottom: 55px solid #affdef;
  box-shadow: 10px 10px 6px #aaa;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.mason-cluff-imagebed p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

.jason-galbraith-imagebed {
  position: relative;
  float: left;
  width: 320px;
}

.jason-galbraith-about-text {
  position: relative;
  float: right;
  width: 200px;
}

.jason-galbraith-imagebed img {
  height: 350px;
  width: 310px;
  border: 10px solid #affdef;
  border-bottom: 65px solid #affdef;
  box-shadow: 10px 10px 6px #aaa;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.jason-galbraith-imagebed p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

.about-a-developer {
background: #affdef; /* Old browsers */
background: -moz-linear-gradient(-45deg, #affdef 0%, #05edc3 34%, #00d6af 51%, #05edc3 73%, #05edc3 73%, #52f6d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #affdef 0%,#05edc3 34%,#00d6af 51%,#05edc3 73%,#05edc3 73%,#52f6d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #affdef 0%,#05edc3 34%,#00d6af 51%,#05edc3 73%,#05edc3 73%,#52f6d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#affdef', endColorstr='#52f6d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    margin:20px auto;
    padding:20px;
    position:relative;
    z-index: 0;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:1px 1px 5px #111;
    -moz-box-shadow:1px 1px 5px #111;
    -webkit-box-shadow:1px 1px 5px #111;
}

/*DOWNLOAD BUTTON*/

.button a {
  display: block;
  height: 50px;
  width: 200px;
  background: #00CC99;
  
  /*TYPE*/
  color: white;
  font: 17px/50px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
      border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
      box-shadow: 2px 2px 8px rgba(0,0,0,0.2);

  background: -moz-linear-gradient(top, #006666 0%, #009999 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006666), color-stop(100%,#009999)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #006666 0%,#009999 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #006666 0%,#009999 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #006666 0%,#009999 100%); /* IE10+ */
  background: linear-gradient(top, #006666 0%,#009999 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006666', endColorstr='#009999',GradientType=0 ); /* IE6-9 */

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.button:hover a {
  background: #006666; /* Old browsers */
  background: -moz-linear-gradient(top,  #006666 46%, #009999 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#006666), color-stop(100%,#009999)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #006666 46%,#009999 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #006666 46%,#009999 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #006666 46%,#009999 100%); /* IE10+ */
  background: linear-gradient(top,  #006666 46%,#009999 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006666', endColorstr='#009999',GradientType=0 ); /* IE6-9 */
}

.button a:active {
  background: #004d4d; /* Old browsers */
  background: -moz-linear-gradient(top, #004d4d 0%, #003333 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004d4d), color-stop(100%,#003333)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #004d4d 0%,#003333 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #004d4d 0%,#003333 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #004d4d 0%,#003333 100%); /* IE10+ */
  background: linear-gradient(top, #004d4d 0%,#003333 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004d4d', endColorstr='#003333',GradientType=0 ); /* IE6-9 */
}

.button-bed {
  position: relative;
  width: 320px;
  height:200px;
  background:#affdef;
  margin:20px auto;
  padding:20px;
  z-index: 0;

  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;

  box-shadow:1px 1px 5px #111;
  -moz-box-shadow:1px 1px 5px #111;
  -webkit-box-shadow:1px 1px 5px #111;
}

.button-bed .button {
  z-index: -1;
  position:absolute;
  height: 140px;
  width:280px;
  background-color: #00d6af;
  border-top: 50px solid #00d6af;
  border-left: 40px solid#00d6af;
  box-shadow: 10px 10px 6px #aaa;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.button-bed h3 {
  position: absolute;
  text-align: center;
  width: 90%;
  top: -5px;
  left: 15px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

.button-bed p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  left:0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}